# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
myenv/
venv/
.venv/
env/

# VS Code settings
.vscode/

# Environment variables
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db